<footer class="footerH">
    <div class="divcontH">
        <p class="pHfooter">Back to the top</p> <button class="arrowH"><i
                class="fas fa-angle-double-up fa-lg"></i></button>

    </div>
    <br>
    <div>
        <div class="flexH1">
            <nav class="boxH1">

                <a class="nav1footerH" href=""> Careers</a>
                <a class="nav1footerH" href=""> About Goffice</a>
                <a class="nav1footerH" href=""> Blog</a>

            </nav>




            <nav class="boxH1">

                <a class="nav2footerH" href=""> Returns & Replacements</a>
                <a class="nav2footerH" href=""> Shipping Rates & Policies</a>
                <a class="nav2footerH" href=""> Help</a>
            </nav>

            <nav class="boxH2">
                <div class="divH1">
                    <button class="socialM1H"><i class="fab fa-instagram"></i></button>

                    <button class="socialM1H"><i class="fab fa-facebook"></i></button>
                </div>
                <div class="divH2">
                    <button class="socialM2H"><i class="fas fa-at"></i></button>

                    <button class="socialM2TH"><i class="fab fa-twitter"></i></button>
                </div>



            </nav>

        </div>








    </div>
    <br>



</footer>
