<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="header-carrito">
        <nav class="box">
            <div class="burger-menu">
                <button id="menu">


                    <i class="fas fa-bars fa-2x"></i>
                </button>
            </div>
            <img src="images/Gofficee.png" alt="logo" width="100px" height="42px">
            <div class="carrito">
                <button id="carrito">
                    <i class="fas fa-cart-plus fa-2x"></i>
                </button>
            </div>



        </nav>

        <br>

        <div class="buscar">
            <input type="text" placeholder="  Search Goffice" required>
            <button id="lupa">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <br>

        <div class="e-address">
            <button class="address">
                <i class="fas fa-map-marker-alt fa-lg"> </i>
                <p class="Send"> Send to</p>
            </button>


        </div>
    </header>






    <main>

        <article class="article-main">
            <article >
                <br>
                <h3 class="h3-nombre">Mac-Book Pro 2019 Grey </h3>
            <img src="images/img-macbook-pro-2019.jpg" alt="Producto" width="99%" height="15%" id="img-main">
            
                
            </article>
          
            <br>
            <article class="button-box">
                <button class="button-main">
Barra cantidad
                </button>
                <br>
                <button class="button-main" >
                Check-out 
             </button >
             <br>
             <button class="button-main">
                 Delete
             </button>
       <br>
    </main>

    <footer>

        <article class="lista-footer">
            <nav class="nav-footer">
                <a class="a-footer"  href="">Home</a>
                <a class="a-footer"  href="">Register</a>
                <a class="a-footer" href="">Log in</a>
            </nav>

            <nav class="nav-footer2">
                <a class="a-footer" href="">Log out</a> 
               <a class="a-footer" href="">Customer Service</a> 
              <a class="a-footer" href="">About us</a>  
            </nav>
        </article>
        <section class="section-footer">
            <section>
                <br>
                <i class="fas fa-credit-card fa-2x" style="color: orangered;" id="icono-footer"></i>
                <h3 class="h3-footer">Pay with card or cash</h3>
                <p class="p-footer"> With Goffice Cash, you have installments without interest with card or cash in
                    payment points. And it's always safe!</p>
            </section>
            <br>
<section>
    <i class="fas fa-gift fa-2x"  style="color: orangered;" id="icono-footer"></i>
        <h3 class="h3-footer">Free shipping over $2,500</h3>
        <p class="p-footer">
            
Just for being registered in Mercado Liebre you have free shipments in thousands of
products. It is a Mercado Puntos benefit.</p>

</section>
       <br>
        <section>
            <i class="fas fa-user-shield fa-2x"  style="color: orangered;" id="icono-footer"></i>
        <h3 class="h3-footer">Security, from start to finish</h3>
        <p class="p-footer">You do not like? Give it back! In Mercado Liebre, there is nothing you cannot do,
            because you are always protected.</p>
        </section>

        <section >

            <h5 class="h5-footer"> © 2022-2022 Goffice, Inc</h5>
        </section>
    </footer>

</body>

</html>