<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="header-carrito">
        <nav class="box">
            <div class="burger-menu">
                <button id="menu">


                    <i class="fas fa-bars fa-2x"></i>
                </button>
            </div>
            <img src="images/Gofficee.png" alt="logo" width="100px" height="42px" id="img-logo">
            <div class="carrito">
                <button id="carrito">
                    <i class="fas fa-cart-plus fa-2x"></i>
                </button>
            </div>



        </nav>

        <br>

        <div class="buscar">
            <input type="text" placeholder="  Search Goffice" required>
            <button id="lupa">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <br>


    </header>

    <div class="e-address">
        <button class="address">
            <i class="fas fa-map-marker-alt fa-lg"> </i>
            <p class="Send"> London HA9 0WS, Reino Unido</p>
        </button>
    </div>




    <main class="todo-productos-main">


        <section class="contenedor">
            <article class="contenedorproducto">
                <h2 class="h2-nombre">Reddragon Zeus-X

                </h2>

                <article class="article-main">

                    <article class="imagen-nombre-main">
                        <div class="imagen-div">
                            <img src="images/Reddragon Zeus-X.jpg" alt="Producto" id="img-main">
                        </div>

                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>
                </article>
            </article>


<!--

            <article class="contenedorproducto">
                <h2 class="h2-nombre">Monitor Gamer BenQ XL-K Series
                </h2>
                <article class="article-main">
                    <article class="imagen-nombre-main">

                        <div class="imagen-div">
                            <img src="images/hola.jpg" alt="Producto" id="img-main">
                        </div>


                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>
                </article>
            </article>

            <article class="contenedorproducto">
                <h2 class="h2-nombre">Samsung Galaxy S10
                </h2>
                <article class="article-main">
                    <article class="imagen-nombre-main">


                        <div class="imagen-div">
                            <img src="images/img-samsung-galaxy-s10.jpg" alt="Producto" id="img-main">
                        </div>




                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>

                </article>
            </article>
            <article class="contenedorproducto">
                <h2 class="h2-nombre">Tv-Samnsung Smart
                </h2>
                <article class="article-main">
                    <article class="imagen-nombre-main">

                        <div class="imagen-div"><img src="images/img-tv-samsung-smart.jpg" alt="Producto" id="img-main">
                        </div>






                        <article class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </article>
                    </article>
                </article>
        </section>
        <section class="contenedor">
            <article class="contenedorproducto">
                <h2 class="h2-nombre">MacBook Pro

                </h2>

                <article class="article-main">

                    <article class="imagen-nombre-main">
                        <div class="imagen-div">
                            <img src="images/img-macbook-pro-2019.jpg" alt="Producto" id="img-main">
                        </div>

                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>
                </article>
            </article>




            <article class="contenedorproducto">
                <h2 class="h2-nombre">Cafetera Moulinex
                </h2>
                <article class="article-main">
                    <article class="imagen-nombre-main">

                        <div class="imagen-div">
                            <img src="images/img-cafetera-moulinex.jpg" alt="Producto" id="img-main">
                        </div>


                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>
                </article>
            </article>

            <article class="contenedorproducto">
                <h2 class="h2-nombre">Samsung Galaxy S10
                </h2>
                <article class="article-main">
                    <article class="imagen-nombre-main">


                        <div class="imagen-div">
                            <img src="images/img-samsung-galaxy-s10.jpg" alt="Producto" id="img-main">
                        </div>




                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>

                </article>
            </article>
            <article class="contenedorproducto">
                <h2 class="h2-nombre">Tv-Samnsung Smart
                </h2>
                <article class="article-main">
                    <article class="imagen-nombre-main">

                        <div class="imagen-div"><img src="images/img-tv-samsung-smart.jpg" alt="Producto" id="img-main">
                        </div>






                        <article class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad 
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </article>
                    </article>
                </article>
                -->
        </section>
<br><br>
        <article class="precio-envio">
            <div class="preciofinal">
                 <div>
                Total price 
            </div>
            <div>
                $1234556 
            </div>

            </div>
            <div class="comprar">
                <button class="botoncompra">
                    Buy
                </button>
            </div>
        </article>
    </main>

    <footer>

        <article class="lista-footer">
            <nav class="nav-footer">
                <a class="a-footer" href="http://localhost:3000">Home</a>
                <a class="a-footer" href="">Register</a>
                <a class="a-footer" href="">Log in</a>
            </nav>

            <nav class="nav-footer2">
                <a class="a-footer" href="">Log out</a>
                <a class="a-footer" href="">Services</a>
                <a class="a-footer" href="">Contact</a>
            </nav>
        </article>
        <section class="section-footer">
            <section>
                <br>
                <i class="fas fa-credit-card fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                <h3 class="h3-footer">Pay with card or cash</h3><br>
                <p class="p-footer"> With Goffice Cash, you have installments without interest with card or cash in
                    payment points. And it's always safe!</p>
            </section>
            <br>
            <section>
                <i class="fas fa-gift fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                <h3 class="h3-footer">Free shipping over $2,500</h3><br>
                <p class="p-footer">

                    Just for being registered in Mercado Liebre you have free shipments in thousands of
                    products. It is a Mercado Puntos benefit.</p>

            </section>
            <br>
            <section>
                <i class="fas fa-user-shield fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                <h3 class="h3-footer">Security, from start to finish</h3><br>
                <p class="p-footer">You do not like? Give it back! In Mercado Liebre, there is nothing you cannot do,
                    because you are always protected.</p>
            </section>
            <br><br>
            <section class="copyright">

                <h5 class="h5-footer"> © 2022-2022 Goffice, Inc</h5>
            </section>
    </footer>

</body>

</html>