<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="header-carrito">
       <nav class="box">
           <div class="burger-menu">
            <button id="menu">
            
            
                <i class="fas fa-bars fa-3x"></i>
            </button>
        </div>
        <img src="images/Gofficee.png" alt="logo" width="100px" height="42px">

            <button class="carrito">
                <i class="fas fa-cart-plus fa-2x"></i>
            </button>
        

       </nav>
        
<br>

        <div class="buscar">
            <input type="text" placeholder="  Search Goffice" required>
            <button id="lupa">
                <i class="fas fa-search"></i>
            </button>
        </div>
<br>


    </header>

    <main>

    </main>

    <footer>

    </footer>

</body>

</html>