<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="header-carrito">
        <nav class="box">
            <div class="burger-menu">
                <button id="menu">


                    <i class="fas fa-bars fa-2x"></i>
                </button>
            </div>
            <img src="images/Gofficee.png" alt="logo" width="100px" height="42px" id="img-logo">
            <div class="carrito">
                <button id="carrito">
                    <i class="fas fa-cart-plus fa-2x"></i>
                </button>
            </div>



        </nav>

        <br>

        <div class="buscar">
            <input type="text" placeholder="  Search Goffice" required>
            <button id="lupa">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <br>


    </header>

    <div class="e-address">
        <button class="address">
            <i class="fas fa-map-marker-alt fa-lg"> </i>
            <p class="Send"> London HA9 0WS, Reino Unido</p>
        </button>
    </div>




    <main class="todo-productos-main">


        <section class="contenedor">
            <article class="contenedorproducto">
                <h2 class="h2-nombre">Reddragon Zeus-X

                </h2>

                <article class="article-main">

                    <article class="imagen-nombre-main">
                        <div class="imagen-div">
                            <img src="images/Reddragon Zeus-X.jpg" alt="Producto" id="img-main">
                        </div>

                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>
                </article>
            </article>
        </section>
        <br>

        <section>
            <div>
                <h2>Detalle de Producto</h2>
            </div>
            <article>
                <p>Seven Electronics Auriculares Gamer Gaming Master Sound XH 1000 Soul Micrófono Desmontable</p>
                <br>
                <p>El sonido que estabas buscando, los nuevos Master Sound XH1000 tienen un sonido envolvente 7.1.</p>
                <br>
                <p>¡Jugá esas partidas sin que nadie te moleste, sé el mejor!</p>
                <br>
                <p>Auricular Master Sound XH 1000</p>
                <br>
                <p>- Auricular: Sonido envolvente 7.1</p>
                <p>- Compatible con PC: Si</p>
                <p>- Compatible con PS4: Si</p>
                <p>- Conector/es: USB</p>
                <p>- Frecuencia: 20Hz a 20KHz</p>
                <p>- Largo del cable: 2 metros reforzado (Mallado)</p>
                <p>- Micrófono: Si, desmontable (Incluye cancelación de ruido)</p>
                <p>- Resistencia: 64 +/- 15%</p>
                <p>- Sensibilidad: 115dB +/- 3dB</p>
                <p>- Diafragma: 50 mm</p>
                <p>- Ecualizador: Si, Funciones de control de Sonido/Volumen (Silencio ON/OFF)</p>
            </article>
            <br>
            <br>

        </section>
        
       
            <br>
            <article class="precio-envio">
                <!-- <div class="preciofinal">
                    <div>
                        Total price
                    </div>
                    <div>
                        $1234556
                    </div>

                </div> -->
                <div class="comprar">
                    <button class="botoncompra">
                        Añadir al carrito
                    </button>
                </div>
            </article>
    </main>

    <footer>


        <section class="section-footer">
            <section>
                <br>
                <i class="fas fa-credit-card fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                <h3 class="h3-footer">Pay with card or cash</h3><br>
                <p class="p-footer"> With Goffice Cash, you have installments without interest with card or cash in
                    payment points. And it's always safe!</p>
            </section>
            <br>
            <section>
                <i class="fas fa-gift fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                <h3 class="h3-footer">Free shipping over $2,500</h3><br>
                <p class="p-footer">

                    Just for being registered in Mercado Liebre you have free shipments in thousands of
                    products. It is a Mercado Puntos benefit.</p>

            </section>
            <br>
            <section>
                <i class="fas fa-user-shield fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                <h3 class="h3-footer">Security, from start to finish</h3><br>
                <p class="p-footer">You do not like? Give it back! In GOffice, there is nothing you cannot do,
                    because you are always protected.</p>
            </section>
            <br><br>
            <article class="lista-footer">
                <nav class="nav-footer">
                    <a class="a-footer" href="/">Home</a>
                    <a class="a-footer" href="/registro">Register</a>
                    <a class="a-footer" href="">Log in</a>
                </nav>

                <nav class="nav-footer2">
                    <a class="a-footer" href="">Log out</a>
                    <a class="a-footer" href="">Services</a>
                    <a class="a-footer" href="">Contact</a>
                </nav>
            </article>
    </footer>

</body>

</html>