<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOffice Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="headerHome">


        <nav class="boxH">
            <div class="burger-menu">
                <button id="menu">


                    <i class="fas fa-bars fa-2x"></i>
                </button>
            </div>
            <img src="images/Gofficee.png" alt="logo" width="100px" height="42px" id="img-logoH">
            <div class="carritoHome">
                <button id="carritoH">
                    <i class="fas fa-user-circle fa-2x"></i>

                    <a href="/carrito"><button id="carritoH2"><i
                                class="fas fa-cart-plus fa-2x"></i></button></a>

                </button>
            </div>

        </nav>
        <br>

        <div class="buscar">
            <input type="text" placeholder="  Search Goffice" required>
            <button id="lupa">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <br>






    </header>
    <main class="todo-productos-main">


        <section class="contenedor">
            <article class="contenedorproducto">
                <h2 class="h2-nombre">MacBook Pro

                </h2>

                <article class="article-main">

                    <article class="imagen-nombre-main">
                        <div class="imagen-div">
                            <img src="images/img-macbook-pro-2019.jpg" alt="Producto" id="img-main">
                        </div>

                        <div class="button-box">
                            <button class="button-main" id="buttonmain">
                                Cantidad
                            </button>

                            <button class="button-main">
                                Precio
                            </button>

                            <button class="button-main">
                                Delete
                            </button>
                        </div>
                    </article>
                </article>
            </article>

            <div class="carrousel">
                <ul class="photos">
                    <li id="photo1"><img src="images/camara.jpg" alt=""></li>
                    <li id="photo2"> <img src="images/luces.jpg" alt=""></li>
                    <li id="photo3"> <img src="images/parlante.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo5"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>


                </ul>
                

            </div>



        </section>
        <br><br>
        
    </main>
    <br>
    <br>
    <br>
    <br><br><br><br><b><br><br><br><br><br><br><br><br><br><br><br>
    

    <footer class="footerH">
        <div class="divcontH">
            <p class="pHfooter">Back to the top</p> <button class="arrowH"><i
                    class="fas fa-angle-double-up fa-lg"></i></button>

        </div>
        <br>
        <div>
            <div class="flexH1">
                <nav class="boxH1">

                    <a class="nav1footerH" href=""> Careers</a>
                    <a class="nav1footerH" href=""> About Goffice</a>
                    <a class="nav1footerH" href=""> Blog</a>

                </nav>

            

            
                <nav class="boxH1">

                    <a class="nav2footerH" href=""> Returns & Replacements</a>
                    <a class="nav2footerH" href=""> Shipping Rates & Policies</a>
                    <a class="nav2footerH" href=""> Help</a>
                </nav>
                
                <nav class="boxH2">
                <div class="divH1">
                    <button class="socialM1H"><i class="fab fa-instagram"></i></button>
                    
                    <button class="socialM1H"><i class="fab fa-facebook"></i></button>
                </div>
                <div class="divH2">
                    <button class="socialM2H"><i class="fas fa-at"></i></button>
                    
                    <button class="socialM2H"><i class="fab fa-twitter"></i></button>
                </div>
                


                </nav>
            
            </div>

          






        </div>
        <br>



    </footer>
    

</body>

</html>