<!DOCTYPE html>
<html lang="en" class="html_L">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body class="body_L">
    <div class="Container_L"

        <div class="logo_L">
            <img src="images/Gofficee.png" alt="logo">
        </div>
        
        <form class="login_form" action="" method="">

            <h2>Login</h2>

            <div class="field email_field">
                <label class="login_label" for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="error_field">Ingrese su correo electronico</div>

            <div class="field password_field">
                <label class="login_label" for="password">Contraseña</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="error_field">Ingrese su contraseña</div>

            <div class="nav_button_L">
                <a class="nav_button_text_L" href="">¿Te olvidaste tu contraseña? </a>
            </div>

            <button type="submit">Login</button>
            </div>

            <div class="nav_button_L">
                <a class="nav_button_text_L" href="">No tienes una cuenta? Registrate!</a>
            </div>

        </form>
    
        
    </div>

    <footer class="footerH footer_L">
        
        <br>
        <div>
            <div class="flexH1">
                <nav class="boxH1">

                    <a class="nav1footerH nav_footer_L" href=""> Careers</a>
                    <a class="nav1footerH nav_footer_L" href=""> About Goffice</a>
                    <a class="nav1footerH nav_footer_L" href=""> Blog</a>

                </nav>

                <nav class="boxH1">

                    <a class="nav2footerH nav_footer_L" href=""> Returns & Replacements</a>
                    <a class="nav2footerH nav_footer_L" href=""> Shipping Rates & Policies</a>
                    <a class="nav2footerH nav_footer_L" href=""> Help</a>
                </nav>

                <nav class="boxH2">
                    <div class="divH1">
                        <button class="socialM1H nav_footer_L"><i class="fab fa-instagram"></i></button>

                        <button class="socialM1H nav_footer_L"><i class="fab fa-facebook"></i></button>
                    </div>
                    <div class="divH2 div_L2">
                        <button class="socialM2H nav_footer_L"><i class="fas fa-at"></i></button>

                        <button class="socialM2H nav_footer_L"><i class="fab fa-twitter"></i></button>
                    </div>

                </nav>

            </div>

        </div>
        <br>

    </footer>

</body>
</html>