<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="Container"

        <div class="logo_L">
            <img src="images/Gofficee.png" alt="logo">
        </div>
        
        <form class="login_form" action="" method="">
            <h2>Login</h2>

            <div class="field email_field">
                <label class="login_label" for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="error_field">Ingrese su correo electronico</div>

            <div class="field password_field">
                <label class="login_label" for="password">Contraseña</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="error_field">Ingrese su contraseña</div>

            <div class="nav_button">
                <a class="nav_button_text" href="">¿Te olvidaste tu contraseña? </a>
            </div>

            <button type="submit">Login</button>
            </div>
        </form>

        <div class="nav_button">
            <a class="nav_button_text" href="">No tienes una cuenta? Registrate!</a>
        </div>
        
    </div>

</body>
</html>