<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ui-quantity-selector__container">
        <form class="u-float-left" action="/gz/cart/item/quantity?id=MLA1136182863" method="POST">
            <input data-quantity="pop" type="submit" value="-" class="u-button-reset ui-quantity-selector__button" name="pop">
        </form>

            <input autocomplete="off" data-quantity="input" type="tel" value="1" class="u-button-reset ui-quantity-selector__input" name="quantity" disabled="">

        <form class="u-float-left" action="/gz/cart/item/quantity?id=MLA1136182863" method="POST">
            <input data-quantity="push" type="submit" value="+" class="u-button-reset ui-quantity-selector__button" name="push">
        </form>
        <div class="cart-inline-loading__quantity-selector" data-region="quantity-loading"></div>
    </div>
</body>
</html>

