.header-carrito {
    background-color: black;

}

.burger-menu {

    display: flex;
    
}

img {
    display: flex;
    padding-top: 1%;
    

}

#menu {

    color: orangered;
    border-style: none;
    background-color: black;




}





.buscar {
    padding-left: 1%;
}

.buscar input {

    display: inline;
    height: 25px;
    font-size: small;
    color: black;
    outline: #03264c;
    border: 1px solid grey;
    border-radius: 20px;
    width: 85%;
    display: inline;
    line-height: normal;
    padding-left: 1%;


}

#lupa {
    color: black;
    display: inline;
    border: 1px solid grey;
    border-radius: 20px;
}

#carrito {

    background-color: black;
    color: orangered;
    border: none;

}

.carrito {
    display: flex;
    

}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.Send {
    display: inline;
    font-size: medium;
    border: none;
    color: orangered;
}
.e-address{
    height: 25px;
}
.address {
    width: 100%;
    padding-left: 1%;
    text-align: left;
    background-color: rgb(52, 51, 51);
    border: none;
    height: 100%;


}

.fa-map-marker-alt {
    color: orangered;

}
p{
    display: flex;
}
.box-p{
    display: flex;
    flex-direction: column;

}



.lista-footer{
    display: flex;
    background-color: rgb(52, 51, 51);
    color: orangered;
    }
.nav-footer{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}
.nav-footer2{
    display: flex;
    flex-direction: column;
    padding-left: 45%;
}
.lista-footer2{
   display: flex;
       background-color: black;
    color: orangered;
}
.section-footer{
    background-color: black;
}

.p-footer{
    text-align: center;
    color: orangered;
    margin-left: 20%;
    margin-right: 20%;
}
#icono-footer{

        display: flex;
        justify-content: center;
        align-items: center;
}
.h3-footer{
    color: gray;
    text-align: center;
}
.h4-footer{
    color: white;
    margin-left: 2%;
}
