.header-carrito {
    background-color: black;

}

.burger-menu {

    display: flex;
    padding-top: 2%;
}

img {
    display: flex;
    padding-top: 3%;

}

#menu {

    color: orangered;
    border-style: none;
    background-color: black;




}

article {
    background-color: #03264c;
    height: 35vw;
}


.buscar {
    padding-left: 2%;
}

.buscar input {

    display: inline;
    height: 25px;
    font-size: small;
    color: black;
    outline: #03264c;
    border: 1px solid grey;
    border-radius: 20px;
    width: 85%;
    display: inline;
    line-height: normal;
    padding-left: 2%;


}

#lupa {
    color: black;
    display: inline;
    border: 1px solid grey;
    border-radius: 20px;
}

#carrito {

    background-color: black;
        color: orangered;
    border: none;
    
}

.carrito {
  display: flex;
        padding-top: 2%;

}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}