* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Sonodeurce Sans Pro", sans-serif;
}

/* carrito*/
main {
    margin: 2%;
}

.header-carrito {
    background-color: black;

}

.burger-menu {

    display: flex;

}



#menu {

    color: orangered;
    border-style: none;
    background-color: black;




}

#img-logo {
    margin-top: 1%;

}


.buscar {
text-align: center;
margin-right: 1%;
    text-align: center;
    margin-right: 1%;
}

.buscar input {

display: inline;
height: 25px;
font-size: small;
color: black;
outline: #03264c;
border: 1px solid grey;
border-radius: 20px;
width: 84%;
display: inline;
line-height: normal;
padding-left: 0%;

    display: inline;
    height: 25px;
    font-size: small;
    color: black;
    outline: #03264c;
    border: 1px solid grey;
    border-radius: 20px;
    width: 85%;
    display: inline;
    line-height: normal;
    padding-left: 0%;
}

#lupa {
    color: black;
    display: inline;
    border: none;
    margin-left: -24px;
    height: 25px;
    background-color: transparent;
    text-decoration: none;
}

#carrito {

    background-color: black;
    color: orangered;
    border: none;

}

.carrito {
    display: flex;


}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;


}

.Send {
    display: inline;
    font-size: medium;
    border: none;
    color: orangered;
}

.e-address {
    height: 25px;

}

.address {
    width: 100%;
    padding-left: 1%;
    text-align: left;
    border: none;
    height: 100%;
    padding-top: 7px;

}

.fa-map-marker-alt {
    color: orangered;

}

.comprar-eli {
    display: flex;

}

p {

    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;

    padding: 0%;
}

.fa-shipping-fast {
    color: orangered;
    font-size: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid orangered;
    background-color: #FFF;
    border-radius: 40%;
}

.a-footer {
    color: orangered;
    text-decoration: none;
    display: flex;
    padding: 2%;

}

.h2-nombre {
    text-align: center;
   height: 20%;

    font-family: "Source Sans Pro", sans-serif;
}

.imagen-nombre-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    height: 100%;
    width: 100%;

}

.imagen-div>#img-main {
    display: flex;
    width: 100%;
    height: 90%;
}

.todo-productos-main .contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: 150px;



}

.contenedor>.article-main {
    width: 100%;
}

.contenedorproducto {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
   width: 100%;
    height: 100%;

}

.article-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80%;

}



.button-main {
    display: flex;
    justify-content: center;
    border: 2px orangered solid;
    border-radius: 5%;
    font-family: "Source Sans Pro", sans-serif;

}

.imagen-div {
   height: 100%;
   margin-left: 1%;
}

.button-box {
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;

   
    padding-right: 5%;
    
    padding-top: 2%;
    width: 35%;
    height: 80%;
    gap: 10%;

}

.precio-envio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px black;
    padding-left: 1%;
    padding-right: 1%;
    font-family: "Source Sans Pro", sans-serif;



}

.preciofinal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1%;
}

.comprar {
    display: flex;
    justify-content: center;
    padding: 1%;

}

.botoncompra {
    border: 2px orangered solid;
    border-radius: 5%;
    width: 40%;
    size: 15px;

}

.lista-footer {
    display: flex;
    background-color: black;
    color: orangered;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left: 3%;
    padding-right: 3%;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;

}

.nav-footer2 {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;

}

.lista-footer2 {
    display: flex;
    background-color: black;
    color: orangered;
}

.section-footer {
    background-color: none;
}

.p-footer {
    text-align: center;
    color: orangered;
    margin-left: 20%;
    margin-right: 20%;
}

#icono-footer {

    display: flex;
    justify-content: center;
    align-items: center;
}

.h3-footer {
    color: black;
    text-align: center;
}

.h5-footer {
    color: orangered;
    text-align: left;
}

.copyright {
    background-color: black;
}

@media (min-width: 769px) {
    .contenedor .contenedorproducto {
        width: 100%;
        box-shadow: 0px 0px 11px black;
    }

}

@media (min-width: 1284px) {
    .contenedor .contenedorproducto {
        width: 100%;
        box-shadow: 0px 0px 12px black;
    }

    .button-box {
        display: flex;
       
        flex-direction: column;
        justify-content: space-between;
    
       
        padding-right: 5%;
        
        padding-top: 2%;
        width: 35%;
        height: 80%;
        gap: 10%;
    
    }

}

/* carrito */

/*home*/


.headerHome{
    background-color: black;
}
#carritoH {
    
    background-color: black;
    color: orangered;
    border: none;
    

}

#carritoH2 {
    background-color: black;
    color: orangered;
    border: none;
    padding-top: 20%;

}

.boxH{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

#img-logoH{
    margin-left: 8%;
}

.footerH{
    background-color: black;
}
.arrowH{
color: orangered;
border: none;
background-color: black;

}
.pHfooter{
    color: orangered;
    display: inline;
    
}

.divcontH{
    text-align: center;
}



.nav1footerH{
    text-decoration: none;
    color: orangered;
    font-size:x-small ;

}

.nav2footerH{
    text-decoration: none;
    color: orangered;
    font-size:x-small ;

}

.socialM1H{
    background-color: black;
    color: orangered;
    border: none;
    

    
    
}

.socialM2H{
    background-color: black;
    color: orangered;
    border: none;
    
}

.boxH1{
    display: flex;
    flex-direction: column;

}

.flexH1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boxH2{
    display: flex;
    flex-direction: column;
    
}

.divH1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
}

.divH2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width:1284px) {
    .arrowH{
        color: orangered;
        border: none;
        background-color: black;
        font-size: large;
        
        }
        .pHfooter{
            color: orangered;
            display: inline;
            font-size: large;
            
        }
        
        .divcontH{
            text-align: center;
        }
        
        
        
        .nav1footerH{
            text-decoration: none;
            color: orangered;
            font-size:large ;
        
        }
        
        .nav2footerH{
            text-decoration: none;
            color: orangered;
            font-size:large ;
        
        }
        
        .socialM1H{
            background-color: black;
            color: orangered;
            border: none;
            font-size: x-large;
            
        
            
            
        }
        
        .socialM2H{
            background-color: black;
            color: orangered;
            border: none;
            font-size: x-large;
        }
        
        .boxH1{
            display: flex;
            flex-direction: column;
        
        }
        
        .flexH1{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        boxH2{
            display: flex;
            flex-direction: column;
            
        }
        
        .divH1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 2%;
        }
        
        .divH2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
    
}
/*home*/

/*log in*/

/* log in*/

/*register*/
.logo_R {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}



.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    overflow: hidden;
}

.register_form h2{
    padding: 2px 0 20px 0;
}

.field {
    display: block;
    width: 80%;
    margin: 10px 0 20px 0;
}


.field input{
    border: none;
    border-bottom: rgb(172, 172, 172) solid 1px;
    outline: none;
    width: 100%;
    height: 60%;
    font-size: 1em;
    padding-bottom: 5px;
}

.field input:hover{
    border-bottom: black solid 1px;
    
}

.field label{
    position: relative;
    color: rgb(172, 172, 172);
}

.error_field {
    display: none;
}

.register_form button{
    font-size: 20px;
    padding: 3.5px;
    border-radius: 15px;
}

.nav_button{
    text-align: center;
}

.nav_button_text {
    text-decoration: underline 1px black;
    color: black;
    font-weight: 700;
}

@media (min-width: 768px){
    .register_form {
        padding: 25px 15vw;
        font-size: 28px;
    }

    .register_form button{
        font-size: 28px;
        padding: 5px;
        margin-top: 2%;
        border-radius: 25px;
    }

    .nav_button_text {
        text-decoration: underline 1px black;
        color: black;
        font-size: 24px;
        font-weight: 700;
    }
}

@media (min-width: 1248px){
    .register_form {
        padding: 25px 25vw;
        font-size: 30px;
    }
}

/*register*/