<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    <!DOCTYPE html>
    <html lang="en">
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                           
                                            Preguntas Frecuentes
    
                                        </h2>
    
    
                                        <form action="" class="formcheckout">
       
                                            <div class="field name_field">
                                                <button type="submit" class="submit-cart"><a href="/soporte/costoenvio">Costos y tiempos de envío</a></button>
                                            </div>
                                            
                                            <div class="field name_field">
                                                <button type="submit" class="submit-cart"><a href="/soporte/puntoretiro">Puntos de retiro</a></button>
                                            </div>
                                            
                                            <div class="field name_field">
                                                <button type="submit" class="submit-cart"><a href="/soporte/devoluciones">Devoluciones</a></button>
                                            </div>
                                           
                                            <div class="field name_field">
                                                <button type="submit" class="submit-cart"><a href="/soporte/terminos">Términos y condiciones</button>
                                            </div>
                                          
                                            <div class="field name_field">
                                                <button type="submit" class="submit-cart"><a href="/soporte/privacidad">Políticas de privacidad</a></button>
                                            </div>
                                           
                                            <div class="field name_field">
                                                <button type="submit" class="submit-cart"><a href="/soporte/contacto">Contactanos</a></button>
                                            </div>
                                       
                                            <div class="field name_field">
                                                <button type="submit" class="submit-cart"><a href="/soporte/arrepentimiento">Arrepentimiento</a></button>
                                            </div>
                                        </form>
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
                           
    
    
                        </section>
                        <br>
       
                    </section>
                    <br><br><br><br><br><br><br><br>


                </main>

               
                <div class="social-bar">
       
                    <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
                    <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
                    <a href="" class="iconA"><i class="fas fa-at"></i></a>
                    <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
                </div>
                <%- include('./footer.ejs') %>    
        </body>


</html>