<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body class="conctactBody">
    <div class="boxHelp">
        <h2 class="titleHI">
            Help & Information
        </h2>
     
        <ul class="helpList" >
            <li><a href="/soporte/costoenvio">Shipping Cost & Delivery Time </a></li>
            <li><a href="/soporte/puntoretiro">Collection Point</a></li>
            <li><a href="/soporte/devoluciones">Return & Replacement</a></li>
            <li><a href="/soporte/terminos">Terms of use</a></li>
            <li><a href="/soporte/privacidad">Privacy Policy</a></li>
            <li><a href="/soporte/contacto">Contact</a></li>
            <li><a href="/soporte/arrepentimiento">Regrets</a></li>
            
        </ul>
    </div>
   


   




    <div class="social-bar">

        <a href="https://es-la.facebook.com/" class="iconF"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/" class="iconI"><i class="fab fa-instagram"></i></a>
        <a href="mailto:goffice@gmail.com" class="iconA"><i class="fas fa-at"></i></a>
        <a href="https://twitter.com/" class="iconT"><i class="fab fa-twitter"></i></a>
        <a href="https://wa.me/543815302514?text=Hola!%20Me%20interesa%20conocer%20más%20sobre%20los%20servicios%20que%20ofrecen."
            class="iconW" target="_blank"><i class="fab fa-whatsapp"></i></a>

    </div>

    <%- include('./footer.ejs') %>

</body>


</html>