<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    <!DOCTYPE html>
    <html lang="en">
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                           
                                            Preguntas Frecuentes
    
                                        </h2>
    
    
                                        <form action="" class="formcheckout">
       
                                            <div class="field name_field">
                                                <label class="register_label" name="firstname">Cancelar una compra</label>
                                                <input type="text" name="firstname" id="name" required minlength="5"
                                                    maxlength="18">
                                            </div>
                                            <div class="error_field">Gmail Goffice</div>
    
    
    
                                            <div class="field email_field">
                                                <label class="register_label" name="email">Devoluciones</label>
                                                <input type="email" name="email" id="email" required>
                                            </div>
                                            <div class="error_field"></div>
    
    
                                            <div class="field name_field">
                                                <label class="register_label" name="name">Cambios</label>
                                                <input type="number" name="phonenumber" id="name" required minlength="5"
                                                    maxlength="18">
                                            </div>
    
                                            <div class="field name_field">
                                                <label class="register_label" name="codigoP">Locales Comerciales</label>
                                                <input type="number" name="phonenumber" id="name" required minlength="5"
                                                    maxlength="18">
                                            </div>
                                            <div class="field name_field">
                                                <label class="register_label" name="provincia">Defensa del consumidor</label>
                                                <input type="text" name="gender" id="name" required>
                                            </div>
                                            <div class="field name_field">
                                                <label class="register_label" name="ciudad">Términos y condiciones de uso del sitio</label>
                                                <input type="text" name="gender" id="name" required>
                                            </div>
                                            <div class="field name_field">
                                                <label class="register_label" name="piso-departamento">Contacto</label>
                                                <input type="text" name="gender" id="name" required>
                                            </div>
                                        </form>
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
                           
    
    
                        </section>
                        <br>
       
                    </section>
                </main>
                <div class="social-bar">
       
                    <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
                    <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
                    <a href="" class="iconA"><i class="fas fa-at"></i></a>
                    <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
                </div>
        </body>
<%- include('./footer.ejs') %>

</html>