<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

    <div class="sidebarContainer">
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class="fab fa-gofore"></i>
                    <div class="logo_name">GOffice</div>
                </div>
                <i class="fas fa-bars" id="btn"></i>
            </div>
            <ul class="nav_list">
                <% if (locals.isLogged) { %>
                <li>
                    <a href="/users/profile">
                        <i class="fas fa-user"></i>
                        <span class="links_name">User</span>
                    </a>
                    <span class="tooltip">User</span>
                </li>
                <li>
                    <a href="/users/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="links_name" id="log_out">Log out</span>
                    </a>
                    <span class="tooltip">Log out</span>
                </li>
                <% } else {%>
                <li>
                    <a href="/users/registro">
                        <i class="fas fa-address-card"></i>
                        <span class="links_name">Register</span>
                    </a>
                    <span class="tooltip">Register</span>
                </li>
                <li>
                    <a href="/users/login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="links_name">Log in</span>
                    </a>
                    <span class="tooltip">Log in</span>
                </li>
                <% } %>
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <span class="links_name">Home</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=aF5eTnUwpNU">
                        <i class="fas fa-language"></i>
                        <span class="links_name">Idioma</span>
                    </a>
                    <span class="tooltip">Idioma</span>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=o7CDYe3v_0E&t=149s">
                        <i class="fas fa-hands-helping"></i>
                        <span class="links_name">Contacto</span>
                    </a>
                    <span class="tooltip">Contacto</span>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=-adh8d9QoSw">
                        <i class="fas fa-question"></i>
                        <span class="links_name">Ayuda</span>
                    </a>
                    <span class="tooltip">Ayuda</span>
                </li>
            </ul>
        </div>

        <script>
            let btn = document.querySelector("#btn");
            let sidebar = document.querySelector(".sidebar");
            let nav_list = document.querySelector(".nav_list");

            btn.onclick = function() {
                sidebar.classList.toggle("active");
                nav_list.classList.toggle("active")
            }
        </script>
    </div>

</html>