<!DOCTYPE html>
<html lang="en">

    <%- include('./head.ejs')%>

<body>

    <%- include('./header2.ejs') %>

        <main class="todo-productos-main">

            <section class="contenedortotalCarrito">
                <section class="contendedordeloscontendoresdelCarrito">
                    <section class="contenedor">
                        <article class="contenedorproducto">
                            <h2 class="h2-nombre">

                            </h2>

                            <article class="article-main">

                                <article class="imagen-nombre-main">
                                    <div class="imagen-div">
                                        <h3>No tienes productos en tu carrito</h3>
                                    </div>

                        
                                    </div>
                                </article>
                            </article>
                        </article>
                    </section>
                    <br>

                </section>
                <br>

                    
                </article>

            </section>

           
            <br>
<br><br>
            
        </main>
        <br>
        <%- include('./footer.ejs') %>

</body>

</html>