<!DOCTYPE html>
<html lang="en">

    <%- include('./head.ejs')%>

<body>

    <%- include('./header2.ejs') %>

        <main class="todo-productos-main">

            <section class="contenedortotalCarrito">
                <section class="contendedordeloscontendoresdelCarrito">
                    <section class="contenedor">
                        <article class="contenedorproductorata">
                           
                            <article class="article-main">

                                <article class="imagen-nombre-main2">
                                    <div class="imagen-div">
                                        <h3>No tienes productos en tu carrito </h3>
                                        <img src="/images/DSkAn68X4AAhpwZ.png" alt="" class="rata">
                                    </div>

                        
                                    </div>
                                </article>
                            </article>
                        </article>
                    </section>
                    <br>

                </section>
                <br>

                    
                </article>

            </section>

            <article class="articlecarruselC">
                <h1 class="productosIndex">Featured items you may like<button class="button-HOffice"> <i
                    class="fas fa-arrow-circle-right"></i></button></h1>
              
                <div class="carrouselC">
                    <span class="flechas-carrusel">
                        <a href="#foto1">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#foto9">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                       </span> 
                    <ul class="photosC">
                       
                            <li class="carrouselList" id="foto1">
                                <h1 class="namecarrousel">
                                    Monitor
                                </h1>
                                <br>
                                <img src="/images/monitor1.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$1459
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList" >
                                <h1 class="namecarrousel">
                                    Camara
                                </h1>
                                <br>
                                <img src="/images/camara.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2246
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Parlante Xinua
                                </h1>
                                <br>
                                <img src="/images/Parlante.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2101
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Luces LED
                                </h1>
                                <br>
                                <img src="/images/luces.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$4855
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Mouse Pad
                                </h1>
                                <br>
                                <img src="/images/mouse pad.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2144
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Silla Gammer
                                </h1>
                                <br>
                                <img src="/images/silla.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$3579
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Teclado
                                </h1>
                                <br>
                                <img src="/images/teclado.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$4312
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Reddragon Zeus
                                </h1>
                                <br>
                                <img src="/images/Reddragon Zeus-X.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2815
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList" id="foto9">
                                <h1 class="namecarrousel">
                                    Microfono Hyperx
                                </h1>
                                <br>
                                <img src="/images/microfono.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$4684
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            
                            
                    </ul>
                </div>
            </article>
            <br>
<br><br>
            
        </main>
        <%- include('./footer.ejs') %>

</body>

</html>