<!DOCTYPE html>
<html lang="en">

    <%- include('./head.ejs')%>

<body>

    <%- include('./header2.ejs') %>

        <main class="todo-productos-main">

            <section class="contenedortotalCarrito">
                <section class="contendedordeloscontendoresdelCarrito">
                    <section class="contenedor">
                        <article class="contenedorproductorata">
                           
                            <article class="article-main">

                                <article class="imagen-nombre-main2">
                                    <div class="imagen-div">
                                        <h3>No se pudo realizar la compra </h3>
                                        <img src="/images/DSkAn68X4AAhpwZ.jpg" alt="" class="rata">
                                    </div>

                        
                                    </div>
                                </article>
                            </article>
                        </article>
                    </section>
                    <br>

                </section>
                <br>

                    
                </article>

            </section>

            <br>
<br><br>
            
        </main>
        <br>
        <%- include('./footer.ejs') %>

</body>

</html>