<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    <!DOCTYPE html>
    <html lang="en">
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                           
                                            Contacto
    
                                        </h2>

                                                                           
    
    
                                        <form action="" class="formcheckout">

                                            <div class="field name_field">
                                                <p>Dejanos tu mensaje o contactanos por redes sociales</p>
                                            </div>
      
                                            <div class="field name_field">
                                                <label class="register_label" name="firstname">Nombre</label>
                                                <input type="text" name="firstname" id="name" required minlength="5"
                                                    maxlength="18">
                                            </div>
                                            <div class="error_field">Cancelar una compra</div>
    
    
    
                                            <div class="field email_field">
                                                <label class="register_label" name="email">Apellido</label>
                                                <input type="email" name="email" id="email" required>
                                            </div>
                                            <div class="error_field">Ingrese su correo electrónico</div>
    
    
                                            <div class="field name_field">
                                                <label class="register_label" name="name">Correo electrónico</label>
                                                <input type="number" name="phonenumber" id="name" required minlength="5"
                                                    maxlength="18">
                                            </div>
    
                                            <div class="field name_field">
                                                <label class="register_label" name="codigoP">Comentario</label>
                                                <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                <input type="number" name="phonenumber" id="name" required minlength="5"
                                                    maxlength="18">
                                                    
                                            </div>
                                         
                                        </form>
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
    
    
                        </section>
                        <br>
                        
       
                    </section>
                </main>
        </body>
        <div class="social-bar">
       
            <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
            <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
            <a href="" class="iconA"><i class="fas fa-at"></i></a>
            <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
        </div>
<%- include('./footer.ejs') %>

</html>