<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body class="conctactBody">

    
   <main>

    <div class="boxContact">
        <h2 class="contactTitle">Leave us a coment <i class="fas fa-comment-dots"></i></h2>
        

        <form action="" class="contacF">
            <input type="text"  name="name" placeholder="Name"  class="inputBox">
            <input type="text" name="lastName" placeholder="Last Name"  class="inputBox">
            <input type="text" name="email" placeholder="Email" class="inputBox">
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="inputBox">
            <textarea name="Message" placeholder="Message" class="comentBox" rows="15" cols="80"></textarea>
            <input type="button" value="submit" id="btnContact">

        </form>


    </div>
       

       
       


   </main>
   
   
   
   
   
   
   
   
   
   <div class="social-bar">

    <a href="https://es-la.facebook.com/" class="iconF"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/" class="iconI"><i class="fab fa-instagram"></i></a>
    <a href="mailto:goffice@gmail.com" class="iconA"><i class="fas fa-at"></i></a>
    <a href="https://twitter.com/" class="iconT"><i class="fab fa-twitter"></i></a>
    <a href="https://wa.me/543815302514?text=Hola!%20Me%20interesa%20conocer%20más%20sobre%20los%20servicios%20que%20ofrecen." class="iconW"target="_blank"><i class="fab fa-whatsapp"></i></a>
    
</div>
   
</body>
<br>





<%- include('./footer.ejs') %>

</html>