<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                            Costos y tiempos de envío
                                        </h2>
                                        <div>
                                            <h2>Costos de envío</h2>
                                            <br>
                                            <p>El costo de envío, se calcula en función al Código Postal de tu domicilio y la cantidad y peso de los productos seleccionados.</p>
                                            <br>
                                            <p>Podes chequear el costo de envío antes de realizar el pago en el carrito de compra.</p>
                                            <br>
                                            <h2>Tiempos de envío</h2>
                                            <br>
                                            <h3>Envío a domicilio en C.A.B.A. y Gran Buenos Aires (GBA)</h3>
                                            <br>
                                            <p>¡Envíos en el día! Realizando tu compra antes de las 13hs de lunes a viernes y seleccionando envíos rápidos por Welivery tu pedido se entrega en el día a la puerta de tu casa, oficina o donde quieras que te enviemos tu pedido. en la franja horaria de 15 a 22hs.</p>
                                            <br>
                                            <h3>Envío a domicilio a todo el país por Andreani</h3>
                                            <br>
                                            <p>Toma hasta 5 días hábiles  en llegar a CAPITAL y GBA. (Atención: puede demorar hasta 7 días en llegar)</p>
                                            <br>
                                            <p>Toma hasta 10 días hábiles en llegar al Interior del país. (Atención: puede demorar hasta 12 días en llegar)</p>
                                            <br>
                                            <h2>Preguntas Frecuentes</h2>
                                            <br>
                                            <h3>¿En qué horario se entregan los  pedidos?</h3>
                                            <br>
                                            <p>- Las entregas se realizan de lunes a viernes de 9 a 20hs.</p>
                                            <br>
                                            <h3>¿Cómo realizo el seguimiento de mi pedido?</h3>
                                            <br>
                                            <p>- En cuanto tu pedido sea despachado, vas a recibir un mail del transporte, con el número de seguimiento para poder hacer seguimiento de la entrega.</p>
                                            <br>
                                            <h3>¿Cuáles son los métodos de entrega?</h3>
                                            <br>
                                            <p>- Realizamos los envíos por medio de nuestros transportistas:</p>

                                            <p>Al domicilio que nos indiques al momento de realizar la compra. El correo hace dos visitas a dicha dirección. En caso de no encontrarte en la primera, vuelve a visitarte en las siguientes 48 hs hábiles. Al no tener éxito en la segunda visita, tu pedido vuelve a nuestro depósito.</p>
                                            <br>
                                            <h3>¿Puede recibir otra persona el pedido?</h3>
                                            <br>
                                            <p>-Sí, el pedido puede recibirlo cualquier persona que se encuentre en tu domicilio mayor de 18 años con DNI.</p>
                                            <br>
                                            <h3>¿Qué pasa si no hay nadie en el domicilio para recibir el pedido?</h3>
                                            <br>
                                            <p>- Si no te encontrás en el domicilio al momento de la entrega vamos a mandarte un mail notificándote que realizaremos la segunda visita dentro de las 48hs.</p>
                                            <br>

                                        </div>
    
                                        
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
                           
    
    
                        </section>
                        <br>
       
                    </section>
                    <br><br><br><br><br><br><br><br>


                </main>

               
                <div class="social-bar">

                    <a href="https://es-la.facebook.com/" class="iconF"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" class="iconI"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:goffice@gmail.com" class="iconA"><i class="fas fa-at"></i></a>
                    <a href="https://twitter.com/" class="iconT"><i class="fab fa-twitter"></i></a>
                    <a href="https://wa.me/543815302514?text=Hola!%20Me%20interesa%20conocer%20más%20sobre%20los%20servicios%20que%20ofrecen." class="iconW"target="_blank"><i class="fab fa-whatsapp"></i></a>
                    
                </div>
                <%- include('./footer.ejs') %>    
        </body>


</html>