<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    <!DOCTYPE html>
    <html lang="en">
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                            Devoluciones
                                        </h2>
                                        <div>
                                            <h2>POR DISCONFORMIDAD CON LOS PRODUCTOS</h2>
                                            <br>
                                            <p>LA MERCADERÍA CON LA CUAL NO HA QUEDADO CONFORME PODRÁ TRAERLA A NUESTRAS OFICINAS COMERCIALES PARA REMEDIAR LA FALLA CORRESPONDIENTE Y CONOCER EL CAUSAL DE LA EXCEPCIONALIDAD.</p>
                                            <br>
                                            <p>El producto objeto de devolución debe encontrarse en perfecto estado, con todas sus etiquetas e indicar las referencias de los artículos devueltos. Asimismo, el o los productos no deben haber sido utilizados de ninguna forma; debe encontrarse en su embalaje original y en las mismas condiciones en que hubiere sido entregado.</p>
                                            <br>
                                            <h2>POR ROTURAS</h2>
                                            <br>
                                            <p>En el caso de que Branca Store haya fallado en su servicio considerando errores de los terceros calificados que forman parte del proceso de entrega, realizaremos la sustitución inmediata del/ los producto/s. La LOGÍSTICA estará a cargo nuevamente de la red de correos CORREO ARGENTINO, líder local en materia de comercio electrónico. Usted podrá traquear el producto nuevamente y conocer dónde se encuentra.</p>
                                            <br>
                                            <p>Verifique la integridad del/ los producto/s que formen parte de la/s orden/es al retirarlo de cualquier sucursal de correo CORREO ARGENTINO o recibirlo en su domicilio. No firme el acta de conformidad si hay roturas. En tal caso, notifíquelo a goffice@gmail.com o envíenos un mensaje desde la sección "Contactanos" en nuestra web.</p>
                                            <br>
                                            <p>En el caso de rotura total o parcial, Correo CORREO ARGENTINO  pagará el envío y nos haremos cargo de la reposición del mismo. Debe chequear la rotura total y/o parcial antes de firmar la conformidad de recibimiento del producto.  Caso contrario, ni Branca Store, ni CORREO ARGENTINO se harán cargo de la reposición y el transporte de un nuevo producto sano.</p>
                                            <br>
                                            <p>Tenga en cuenta que para garantizar la cobertura del seguro usted deberá presentar un remito genérico donde conste el detalle de todas las facturas/remitos y cantidad de bultos incluidos en el envío y sus correspondientes valores declarados. El documento Remito genérico debe estar numerado con un número único e irrepetible siendo este el documento madre a seguir por el sistema de seguimiento e-Pak.</p>
                                            <br>
                                            <h2>PLAZOS</h2>
                                            <br>
                                            <p>-Los plazos que tienen las devoluciones, así como también las entregas de los nuevos productos son los mismos que se aclaran en la INFORMACIÓN DE ENVÍO</p>
                                            <br>
                                            
                                        </div>
    
                                        
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
                           
    
    
                        </section>
                        <br>
       
                    </section>
                    <br><br><br><br><br><br><br><br>


                </main>

               
                <div class="social-bar">
       
                    <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
                    <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
                    <a href="" class="iconA"><i class="fas fa-at"></i></a>
                    <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
                </div>
                <%- include('./footer.ejs') %>    
        </body>


</html>