<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>


    <body class="conctactBodyError">
        <div class="boxHelpError">
            <h1 class="tituloEror404Error">
                Error 404 page not found
            </h1>
            <div class="imagen404Error"><img src="/images/BackgroundRata404.png" alt="" class="rata2"></div>
            <div class="Return404Error"><a href="/">Return</a></div>


        </div>


       

   

    <%- include('./footer.ejs') %>

</body>


</html>