<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body class="conctactBody">
    <div class="boxHelp">
        <h1 class="titleHI">
            Error 404 page not found
        </h1>
        <a href="/"><img src="/images/DSkAn68X4AAhpwZ.png" alt="" class="rata2"></a>
        <ul class="helpList" >
            <li><a href="/">Return</a></li>    
        </ul>
    </div>
   

    <%- include('./footer.ejs') %>

</body>


</html>