<header>

    <nav class="header-bar2">

        <div class="box-header2">
            <a href="/">
                <div class="logo2">
                    <img src="/images/Gofficeqvaversionceleste.png">
                </div>
            </a>
            <form class="buscar2" action="#" method="POST">
                <!-- <button class="lupa2">
                           <i class="fas fa-search"></i>
                    </button> -->
                <div class="buscar_search-wrapper">
                    <input type="search" id="search" class="buscar_input buscar-input2" data-search placeholder="  Buscar..." required>
                    
                </div>
                    <div class="buscar_user-cards" data-user-cards-container></div>
                    <template data-user-template>
                    
                        <div class="buscar_card">
                            <a href="/detalle/:id">
                                <div class="buscar_header" data-header></div>
                                <div class="buscar_price" data-price></div>
                                <div><img class="buscar_image" data-image src=""  width="50px"></div>
                            </a>
                        </div>
                    
                    </template>
            </form>
            <% if (locals.isLogged) { %>
                <div class="compracuotas2">
                    <div class="compra2">
                        <p class="NombrePerfil"> Hi, <%= locals.userLogged.first_name %>
                                <%=locals.userLogged.last_name %>
                        </p>
                        <img src="/images/users/<%= locals.userLogged.image %>" id="fotoPerfil" alt="">
                    </div>
                </div>
                <% } else {%>
                    <div class="compracuotas2">
                        <div class="compra3">
                            <img src="/images/users/usuariovacio.png" id="fotoPerfil2" alt="">
                        </div>
                    </div>
                    <% } %>

        </div>
        <div class="lista12">
            <ul class="info2" type="none">
                <li> <a href="/">Home</a> </li>
                <li> <a href="">Idioma</a></li>
                <li> <a href="/soporte/contacto">Contacto</a></li>
                <li> <a href="/soporte/ayuda">Información</a></li>
            </ul>

            <div class="lista22">
                <ul class="cuenta2" type="none">
                    <% if (locals.isLogged) { %>
                        <li> <a href="/carrito">Cart<i class="fas fa-shopping-cart" id="iconosheader2"></i></a> </li>
                        <li> <a href="/users/profile">User<i class="fas fa-user" id="iconosheader2"></i></a> </li>
                        <li> <a href="/users/logout">Log out<i class="fas fa-sign-out-alt" id="iconosheader2"></i></a>
                        </li>
                        <% } else {%>
                            <li> <a href="/users/registro">Register<i class="fas fa-address-card"
                                        id="iconosheader2"></i></a></li>
                            <li> <a href="/users/login">Log in<i class="fas fa-sign-in-alt" id="iconosheader2"></i></a>
                            </li>
                            <% } %>
                </ul>
            </div>
        </div>

        <%- include('./burgerMenu.ejs') %>

    </nav>
</header>