<!DOCTYPE html>
<html lang="en">



<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
    <section>

        <video class="videoPublicidad" muted autoplay loop>

            <source src="video/pexels-daniel-cavarra-6290931.mp4" type="video/mp4">

        </video>
    </section>




    <section class="productos">
        <div class="productos__center">
          <div class="producto">
            <div class="image__container">
              <img src="images/Parlante.jpg" alt="">
            </div>
            <div class="producto__footer">
              <h1>Parlantes</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#"  class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/monitor1.jpg" alt="">
            </div>
            <div class="producto__footer">
              <h1>Monitor</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/luces.jpg" alt="">
            </div>
            <div class="producto__footer">
              <h1>luces</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/silla.jpg" alt="">
            </div>
            <div class="producto__footer">
              <h1>silla</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="producto-detalles.html" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/teclado.jpg" alt="">
            </div>
            <div class="producto__footer">
              <h1>teclado</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/mouselateral.webp" alt="">
            </div>
            <div class="producto__footer">
              <h1> Mouse</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/mouse pad.jpg" alt="">
            </div>
            <div class="producto__footer">
              <h1>Mouse pad</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/camara2.jpeg" alt="">
            </div>
            <div class="producto__footer">
              <h1>camara</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="image__container">
              <img src="images/Reddragon Zeus-x.jpg" alt="">
            </div>
            <div class="producto__footer">
              <h1>Auriculares</h1>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$102.00</div>
            </div>
            <div class="bottom">
              <div class="btn__group">
                <a href="#" class="btn addToCart">Añadir carrito</a>
                <a href="#" class="btn view">Vista</a>
              </div>
            </div>
          </div>
          
        </div>
      </section>


        <div id="button-up">
            <i class="fas fa-angle-double-up fa-lg"></i>
        </div>







    </main>
    <br>
    <br>
    <br>
    <%- include('./footer.ejs') %>

    <script src="js/botones.js"></script>
</body>

</html>