<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>

<body>
    <%- include('./header.ejs') %>
    <section>

        <video class="videoPublicidad" muted autoplay loop>

            <source src="video/pexels-daniel-cavarra-6290931.mp4" type="video/mp4">

        </video>
    </section>

    <main class="todo-productos-main">

        <h2 class="h2H">Productos Destacados
            <button class="button-HOffice"> <i class="fas fa-arrow-circle-right"></i></button>
        </h2>
        <section>

            <br>
            <div class="carrousel">
                <ul class="photos">
                    <li id="photo1"> <img src="images/camara.jpg" alt=""></li>
                    <li id="photo2"> <img src="images/luces.jpg" alt=""></li>
                    <li id="photo3"> <img src="images/parlante.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo5"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>
                </ul>
            </div>
        </section>

        <br><br>
      

        <article class="main-conteinerH">

            <div class="div-conteinerH">
                <img class="div-photoH" src="images/monitor1.jpg" width="100%">
                <h3>monitor1</h3>
                <span>$12345</span>
            </div>

            <div class="div-conteinerH">
                <img class="div-photoH" src="images/mouse pad.jpg" width="100%">
                <h3>mouse pad </h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/Parlante.jpg" width="100%">
                <h3>Parlante</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/silla.jpg" width="100%">
                <h3>silla</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/teclado.jpg" width="100%">
                <h3>teclado</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/microfono.jpg" width="100%">
                <h3>microfono</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/camara2.jpeg" width="100%">
                <h3>camara</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/mousearriba.webp" width="100%">
                <h3>mouse</h3>
                <span>$12345</span>
            </div>
        </article>
        <br><br><br>





        <br><br><br>

        <h2 class="h2H">Ofertas

            <button class="button-sale"><i class="fas fa-piggy-bank"></i> </button>
        </h2>
        <br><br> <br>

        <section class="article3H">
            <article>
                <img src="images/luces.jpg" width="40%">
                <div class="descuento">
                    <article>
                        <div class="box-item">
                            <p class="precio"> $6770</p>
                            <span id="discountH" data-action="cart-can" class="badge rounded-circle"></span>
                        </div>
                    </article>
                </div>
                <h3 class="dyd"> Cafetera Moulinex</h3>
            </article>

            <hr>
            

            <article>
                <img src="images/luces.jpg" width="40%">
                <article class="articulo-detail">
                   
                    <div class="box-item">
                        <p class="precio"> $230000</p>
                        
                        <p class="dyd"> MacBook Pro 2019</p>
                    </div>
                  
                </article>

            </article>
            

            <article>
                <img src="images/luces.jpg" width="40%">
                <article>
                    <i class="fas fa-shipping-fast"></i>
                    <div>
                        <p class="precio"> $70500</p>
                        <p class="dyc"> 10% Off</p>
                    </div>
                    <p class="dyd"> Samsung Galaxy S10</p>
                </article>

            </article>

            <article>
                <img src="images/luces.jpg" width="40%">
                <article>
                    <i class="fas fa-shipping-fast" id="chacho"></i>
                    <div>
                        <p class="precio">$23200</p>
                        <p class="dyc"> 5% Off</p>
                    </div>
                    <p class="dyd"> Smart Tv Samsung 43"</p>
                </article>
            </article>
        </section>







    </main>
    <br>
    <br>
    <br>
    <%- include('./footer.ejs') %>
</body>

</html>