<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/header.ejs') %>
    <section>
            
        <div class="carrousel">
            <ul class="photos">
                <li id="photo1"> <img src="images/cybermonday.jpeg"></li>
                <li id="photo2"> <img src="images/cybermonday.jpeg" alt=""></li>
                <li id="photo3"> <img src="images/cybermonday.jpeg" alt=""></li>
                <li id="photo4"> <img src="images/cybermonday.jpeg" alt=""></li>
                <li id="photo5"> <img src="images/cybermonday.jpeg" alt=""></li>
                <li id="photo4"> <img src="images/cybermonday.jpeg" alt=""></li>
            </ul>
        </div>
    </section>

    <main class="todo-productos-main">

        <h2 class="h2H">Home Office 
            <button class="button-HOffice"> <i class="fas fa-arrow-circle-right"></i></button>
        </h2>
        
            
        <br>

        <article class="main-conteinerH">

            <div class="div-conteinerH"> <img class="div-photoH" src="images/monitor1.jpg"  width="100%" ></div>
            <div class="div-conteinerH"><img class="div-photoH" src="images/mouse pad.jpg" width="100%"></div>
            <div class="div-conteinerH"><img class="div-photoH" src="images/Parlante.jpg" width="100%"></div>
            <div class="div-conteinerH"><img class="div-photoH" src="images/silla.jpg"width="100%"></div>
            <div  class="div-conteinerH"><img class="div-photoH" src="images/teclado.jpg" width="100%"></div>
            <div  class="div-conteinerH"><img class="div-photoH" src="images/microfono.jpg" width="100%"></div>
        </article>
        <br><br><br>

        <h2 class="h2H">Ofertas
            <button class="button-sale"><i class="fas fa-piggy-bank"></i> </button>
        </h2>
        <br>
        <article class="article2H">
            <div class="divarticle2H"> <img src="images/luces.jpg" width="100%"></div>
            <div class="divarticle2H"> <img src="images/reddragon zeus-x.jpg" width="100%"></div>

        </article>
        <br>
        

        <br><br><br>

        <section>
            <h2 class="h2H">Productos Varios</h2>
            <br>
            <div class="carrousel2">
                <ul class="photos2">
                    <li id="photo1"> <img src="images/camara.jpg" alt=""></li>
                    <li id="photo2"> <img src="images/luces.jpg" alt=""></li>
                    <li id="photo3"> <img src="images/parlante.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo5"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>
                </ul>
            </div>
        </section>
        <br><br>
        
        
        
    </main>
    <br>
    <br>
    <br>
    <%- include('./partials/footer.ejs') %>
</body>

</html>