<!DOCTYPE html>
<html lang="en">



<%- include('./head.ejs')%>

<body>
    <%- include('./header2.ejs') %>
    <section>

        <video class="videoPublicidad" muted autoplay loop>

            <source src="video/pexels-daniel-cavarra-6290931.mp4" type="video/mp4">

        </video>
    </section>

    <main class="todo-productos-main">

        <h2 class="h2H">Productos Destacados
            <button class="button-HOffice"> <i class="fas fa-arrow-circle-right"></i></button>
        </h2>
        <section>

            <br>
            <div class="carrousel">
                <ul class="photos">
                    <li id="photo1"> <img src="images/camara.jpg" alt=""></li>
                    <li id="photo2"> <img src="images/luces.jpg" alt=""></li>
                    <li id="photo3"> <img src="images/parlante.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo5"> <img src="images/monitor1.jpg" alt=""></li>
                    <li id="photo4"> <img src="images/monitor1.jpg" alt=""></li>
                </ul>
            </div>
        </section>

        <br><br>


        <div class="latest-products">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Ofertas</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">

                            <img class="nuevo" src="images/R17069.webp"><img class="nuevo" src="images/R17069.webp">

                            <div class="down-content">
                                <h4>Tittle goes here</h4>
                                <h6>$25.75</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
                                </p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Reviews (24)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <img class="nuevo" src="images/R17069.webp"><img class="nuevo" src="images/R17069.webp">
                            <div class="down-content">
                                <a href="#">
                                    <h4>Tittle goes here</h4>
                                </a>
                                <h6>$30.25</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
                                </p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Reviews (21)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <img class="nuevo" src="images/camara2.jpeg"><img class="nuevo" src="images/camara2.jpeg">
                            <div class="down-content">
                                <a href="#">
                                    <h4>Tittle goes here</h4>
                                </a>
                                <h6>$20.45</h6>
                                <p>Sixteen Clothing is free CSS template provided by TemplateMo.</p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Reviews (36)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <img class="nuevo" src="images/mousearriba.webp"><img class="nuevo"
                                src="images/mousearriba.webp">
                            <div class="down-content">
                                <a href="#">
                                    <h4>Tittle goes here</h4>
                                </a>
                                <h6>$15.25</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
                                </p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Reviews (48)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <img class="nuevo" src="images/mouselateral.webp" alt=""><img class="nuevo"
                                src="images/mouselateral.webp" alt="">

                            <div class="down-content">
                                <a href="#">
                                    <h4>Tittle goes here</h4>
                                </a>
                                <h6>$12.50</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
                                </p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Reviews (16)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <img class="nuevo" src="images/monitor1.jpg"><img class="nuevo" src="images/monitor1.jpg">
                            <div class="down-content">
                                <a href="#">
                                    <h4>Tittle goes here</h4>
                                </a>
                                <h6>$22.50</h6>
                                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.
                                </p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Reviews (32)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <article class="main-conteinerH">

            <div class="div-conteinerH">
                <img class="div-photoH" src="images/monitor1.jpg" width="100%">
                <h3>monitor1</h3>
                <span>$12345</span>
            </div>

            <div class="div-conteinerH">
                <img class="div-photoH" src="images/mouse pad.jpg" width="100%">
                <h3>mouse pad </h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/Parlante.jpg" width="100%">
                <h3>Parlante</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/silla.jpg" width="100%">
                <h3>silla</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/teclado.jpg" width="100%">
                <h3>teclado</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/microfono.jpg" width="100%">
                <h3>microfono</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/camara2.jpeg" width="100%">
                <h3>camara</h3>
                <span>$12345</span>
            </div>
            <div class="div-conteinerH">
                <img class="div-photoH" src="images/mousearriba.webp" width="100%">
                <h3>mouse</h3>
                <span>$12345</span>
            </div>
        </article>








    </main>
    <br>
    <br>
    <br>
    <%- include('./footer.ejs') %>
</body>

</html>