<!DOCTYPE html>
<html lang="en" class="html_L">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body class="body_L">
    <div class="Container_L"

        <div class="logo_L">
            <img src="images/Gofficee.png" alt="logo">
        </div>
        

        <form class="login_form" action="/index"  method="POST" enctype="multipart/form-data" >

            

            <div class="field email_field">
                <label class="register_label" name="email">Email</label>
                <input type="email" name="email" id="email" required >
            </div>
            <div class="error_field">Ingrese su correo electrónico</div>

            <div class="field password_field">
                <label class="register_label" name="password">Password</label>
                <input type="password" name="password" id="password" required>
            
        </form>



        <!-- <form class="login_form" action="/index" method="POST">

            <h2>Login</h2>

            <div class="field email_field">
                <label class="login_label" for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="error_field">Ingrese su correo electronico</div>

            <div class="field password_field">
                <label class="login_label" for="password">Contraseña</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="error_field">Ingrese su contraseña</div>

            <div class="nav_button_L">
                <a class="nav_button_text_L" href="">¿Te olvidaste tu contraseña? </a>
            </div>

            <button type="submit">Login</button>
            </div>

            <div class="nav_button_L">
                <a class="nav_button_text_L" href="">No tienes una cuenta? Registrate!</a>
            </div>

        </form> -->
    
        
    </div>

    <%- include('./footer.ejs') %>

</body>
</html>