<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    <!DOCTYPE html>
    <html lang="en">
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                            Políticas de privacidad
                                        </h2>
                                        <br>
                                        <div>
                                            <h3>PRIVACIDAD DEL VISITANTE</h3>
                                            <br>
                                            <p>Estamos comprometidos a proteger la privacidad de los Visitantes a este sitio www.goffice.com.ar (el “Sitio”). En consecuencia, nuestro Sitio no recolecta información personal de los usuarios, a menos que los mismos nos proveerán la misma a nosotros, en forma voluntaria y consciente. Cuando Ud. visita nuestro Sitio, su navegador automáticamente nos envía una dirección de IP (Protocolo de Internet) y ciertas otras informaciones (incluyendo el tipo de navegador que Ud. está usando). Podemos usar esta información de la dirección de IP y otras informaciones para proveer a Ud. acceso al Sitio y de otro modo administrar el Sitio. En ciertas partes del Sitio, podremos solicitar a Ud. que nos provea su nombre y apellido, su domicilio, ciudad, provincia, código postal u otras informaciones, de modo que podamos proveer a Ud. la información que nos solicite y/o de modo que Usted puede participar de alguna promoción que Goffice SRL organice, cuyas bases y condiciones podrá consultar en este Sitio. Ud. no está obligado a proveernos tal información, pero sin la misma no podremos proveerle la información que solicite y/o no podrá participar en las promociones antes mencionadas. El Sitio también puede incluir ciertas características que permitan a Ud. comunicarse con nosotros a través del correo electrónico o de otro modo. Si una característica de correo electrónico fuera provista y Ud. decidiera utilizarla, Ud. deberá proveernos su dirección de correo electrónico. Por lo tanto Ud. es responsable si decide usar estas características de comunicación para proveernos información personal identificatoria (tales como al incluir su nombre en el cuerpo de un mensaje de correo electrónico). Cuando Ud. nos provee cualquier información personal, Ud. nos comunica que nos está proveyendo dicha información voluntariamente. No usaremos tal información para fines comerciales, a menos que esté específicamente declarado en el contexto, pero podemos responder los mensajes de correo electrónico que Ud. nos envíe y usar tales informaciones para cualquier otra finalidad incluyendo enviarle comunicaciones subsecuentes relativas a este Sitio o alguno de los productos que comercializa y elabora Goffice SRL  Ud. puede ejercer el derecho de acceso, rectificación y supresión de los datos personales que Ud. voluntariamente nos ha proporcionado. Intentamos asegurar que la información personal identificatoria que Ud. nos provea permanezcan privadas. No venderemos, daremos en locación, comercializaremos ni de otro modo divulgaremos las información personal identificatoria que Ud. provea a cualquier tercero fuera de nuestras afiliadas o vinculadas, los respectivos contratistas que nos presente servicios (pero en este caso la información es divulgada solo apenas con la finalidad de prestar tales servicios), a menos que seamos obligados por ley o creyéramos de buena fue que Ud. está infringiendo estas políticas o leyes nacionales, provinciales o municipales. Tenga en cuenta, sin embargo, que puede ser posible que terceros lean los mensajes que Ud. envíe vía Internet, por lo tanto no envíe por correo electrónico cualquier información que Ud. quisiera mantener confidencial. Como muchas compañías, nosotros utilizamos la tecnología de “cookies” en nuestro Sitio. Las cookies son porciones de información que un sitio transfiere al disco rígido de un individuo con el objeto de llevar un registro. Mejoran la experiencia online al guardar sus preferencias mientras usted está visitando un sitio en particular. Las cookies no contienen información personal identificable y no pueden hacer una reseña de su sistema o recopilar información de su disco rígido. Mientras usted visualiza nuestro Sitio nosotros podemos colocar una “cookie” en su computadora. Las cookies temporales se utilizan con fines como el de contar el número de visitas a nuestro sitio. Estas cookies temporales son eliminadas cuando usted sale de su navegador. Una cookie permanente también puede ser almacenada por su navegador en su computadora. Cuando usted ingresa, este tipo de cookies nos cuenta si usted ha visitado nuestro sitio anteriormente o si usted es un nuevo visitante. La cookie no obtiene información personal sobre usted ni nos suministra ninguna manera de contactarlo, y la cookie no extrae ninguna información de su computadora. La porción de “ayuda” de la barra de herramientas en la mayoría de los navegadores le indicará cómo evitar que su navegador acepte nuevas cookies, cómo hacer para que el navegador le informe cuando usted reciba una cookie nueva, o cómo bloquear las cookies todas juntas. Cuando utiliza este Sitio, Ud. presta su consentimiento a la transmisión de su información personal identificatoria y a su uso conforme se describe en el presente. Tenga en cuenta que esta política de privacidad resulta aplicable solamente a este Sitio, y no a otros sitios, incluyendo los sitios separados de Goffice SRL o los sitios separados de cualquiera de sus marcas, las que pueden tener políticas de privacidad diferentes a las presentes.</p>
                                        </div>
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
                           
    
    
                        </section>
                        <br>
       
                    </section>
                    <br><br><br><br><br><br><br><br>


                </main>

               
                <div class="social-bar">
       
                    <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
                    <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
                    <a href="" class="iconA"><i class="fas fa-at"></i></a>
                    <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
                </div>
                <%- include('./footer.ejs') %>    
        </body>


</html>