<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOffice</title>
    <link rel="icon" type="image/PNG" href="../public/images/Gofficee.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<!-- body -->

<body>

    <!-- header -->
    <%- include('./partials/header.ejs')%>
        <!--</header> -->

        <!-- main -->
        <main class="main-detail">
            <section class="main-detail-sectionPC">
                <div class="title-product-detailPC">
                    <h2>Reddragon Zeus-X</h2>
                    <i class="far fa-edit"></i>
                </div>
                <div class="detail-imagePC">
                    <img id="general-detail-imagePC" src="images/Reddragon Zeus-X.jpg" alt="articulo">
                    <i class="far fa-edit" id="iconoPC"></i>
                </div>

            </section>
            <br>
            </section>
            <section class="contenedor-detail">
                <div class="title-product-detailPC">
                    <h2>Detalle de Producto</h2>
                </div>
                <br>
                <article class="description-productPC">
                    <form action="productoCrud" id="productForm">
                        <div class="boxpC">
                            <label for="nombre">
                                <H2>Nombre</H2>
                            </label>

                            <textarea name="nombre" id="nombrePCrud" required></textarea>
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="boxpC">
                            <label for="nombre">
                                <h2>Descripcion</h2>
                            </label>

                            <textarea name="nombre" id="nombrePCrud" required></textarea>
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="boxpC">
                            <label for="nombre">
                                <h2>Id</h2>
                            </label>

                            <textarea name="nombre" id="nombrePCrud" required></textarea>
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="boxpC">
                            <label for="nombre">
                                <h2>Precio</h2>
                            </label>

                            <textarea name="nombre" id="nombrePCrud" required></textarea>
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="boxpC">
                            <label for="nombre">
                                <h2>Stock</h2>
                            </label>

                            <textarea name="nombre" id="nombrePCrud" required></textarea>
                            <i class="far fa-edit"></i>
                        </div>
 <article class="precio-envio-detail">
                        <div class="comprar-detailPC">
                            <button type="submit" class="submit-cart-detail">Guardar Cambios</button>
                        </div>
                    
                    </article>
                    </form>
                    
                </article>
                <br><article class="precio-envio-detail">
                        <div class="return-detail">
                            <button type="submit" class="return-cart-detail">Eliminar</button>
                        </div>
                    </article>
            </section>
            <br>
            <br>

            <br>
        </main>
        <!-- footer -->
        <%- include('./partials/footer')%>
            <!-- </footer> -->
</body>

</html>