<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    <!DOCTYPE html>
    <html lang="en">
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                            Puntos de Retiro
                                        </h2>
                                        <br>
                                        <div>
                                            <h3>Disponibles todas las sucursales de Andreani en todo el país. Podés acceder al buscador de sucursales <a href="https://www.andreani.com/#!/buscarSucursal" target="_blank"> aquí.</a></h3>
                                            <br>
                                        </div>
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
                           
    
    
                        </section>
                        <br>
       
                    </section>
                    <br><br><br><br><br><br><br><br>


                </main>

               
                <div class="social-bar">
       
                    <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
                    <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
                    <a href="" class="iconA"><i class="fas fa-at"></i></a>
                    <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
                </div>
                <%- include('./footer.ejs') %>    
        </body>


</html>