.buscar_search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.buscar_input {
    font-size: 1rem;
}

.buscar_user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.buscar_card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.buscar_card > .buscar_header {
    margin-bottom: .25rem;
}

.buscar_card > .buscar_body {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}