<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
   
    <!DOCTYPE html>
    <html lang="en">
    
               <main class="todo-productos-main">
    
                    <section class="contenedortotalSoporte">
                        <section class="contendedordeloscontendoresdelCarrito">
    
                            <section class="contenedor2">
                                <article class="box-checkout">
                                    <article class="contenedorproducto">
                                        <h2 class="h2-nombre">
                                            Términos y Condiciones
                                        </h2>
                                        <div>
                                            <h2>A.-POLÍTICA DE PRIVACIDAD</h2>
                                            <br>
                                            <p>USO DE LOS DATOS PERSONALES REGISTRADOS</p>
                                            <br>
                                            <p>Desde su ingreso en adelante “LMG”, CUIT Nº 30-71238579-7, sociedad constituida conforme a las leyes de Argentina con sede social en Luis Maria Campos 405 piso 2, CABA, Argentina es la entidad responsable del tratamiento de los datos personales obtenidos en o a través del sitio web www.growlerbar.com.ar (en adelante, el "Sitio")</p>
                                            <br>
                                            <p>Los datos suministrados por el usuario que acepta los términos y condiciones, tendrán como finalidad validar las órdenes de compra de los productos ofrecidos por LMG a través del Sitio. Sólo podrán ser utilizados por LMG y/o el licenciante de la marca de los productos ofrecidos y sociedades vinculadas, y en ningún caso serán traspasados a terceros. LMG se rige conforme a lo establecido por la Ley Nº 25.326 de Protección de Datos Personales y sus normas modificatorias y complementarias. A tales efectos, a continuación se detallan las disposiciones pertinentes:</p>
                                            <br>
                                            <p>Ley Nº 25.326: “Artículo 27 inc. 3: El titular podrá en cualquier momento solicitar el retiro o bloqueo de su nombre de los bancos de datos a los que se refiere el presente artículo”. </p>
                                            <br>
                                            <p>Decreto 1558/01: “Artículo 27 - En toda comunicación con fines de publicidad que se realice por correo, teléfono, correo electrónico, internet u otro medio a distancia a conocer, se deberá indicar, en forma expresa y destacada, la posibilidad del titular del Dato de solicitar el retiro o bloqueo, total o parcial, de su nombre de la base de datos. A pedido del interesado, se deberá informar el nombre del responsable o usuario del banco de datos que proveyó la información.” </p>
                                            <br>
                                            <p>Ley 25.326: “Artículo 14: El titular de los datos, previa acreditación de su identidad, tiene derecho a solicitar y obtener información de sus datos personales incluidos en los bancos de datos públicos, o privados destinados a proveer informes. (…) 3. El derecho de acceso a que se refiere este artículo sólo puede ser ejercido en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto.”</p>
                                            <br>
                                            <p>Disposición 10/2008 Artículo 1º — Establécese que los responsables y usuarios de bancos de datos públicos o privados deberán incluir, en lugar visible, en su página web y en toda comunicación o publicidad, en particular, en los formularios utilizados para la recolección de datos personales, una leyenda que indique: "El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326".</p>
                                            <br>
                                            <p>Disposición 10/2008 Art. 2º — Dispónese que las personas mencionadas en el artículo anterior deberán incluir también, en la forma y lugares indicados precedentemente, una leyenda que exprese: "La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales".</p>
                                            <br>
                                            
                                            <h2>VIOLACIONES DEL SISTEMA</h2>
                                            <br>
                                            <p>No está permitida ninguna acción o uso de software tendiente a interferir en las actividades y operatoria de LMG como en las ofertas, descripciones, cuentas o bases de datos. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas, así como lo hará responsable de indemnizar los daños ocasionados.</p>
                                            <br>
                                            <h2>PROPIEDAD INTELECTUAL</h2>
                                            <br>
                                            <p>LMG se encuentra autorizado por el titular de la marca "Branca Store", para operar el Sitio.</p>
                                            <br>
                                            <p>Todos los contenidos del Sitio, como así también la información, datos, textos, gráficos, imágenes, fotografías, audios y videos, logotipos, programas, bases de datos, redes y archivos que permiten al usuario acceder al Sitio, son de propiedad de LMG o de sus licenciantes y/o de sus respectivos titulares según corresponda, y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de su titular.</p>
                                            <br>
                                            <h2></h2>


                                        </div>
    
                                        
                                    </article>
                                </article>
                            </section>
                            <br>
                            <br>
                            <br>
                           
    
    
                        </section>
                        <br>
       
                    </section>
                    <br><br><br><br><br><br><br><br>


                </main>

               
                <div class="social-bar">
       
                    <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
                    <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
                    <a href="" class="iconA"><i class="fas fa-at"></i></a>
                    <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
                </div>
                <%- include('./footer.ejs') %>    
        </body>


</html>