

<article class="lista-footer">

    <nav class="nav-footer">
        <a class="a-footer" href="http://localhost:3000">Home</a>
        <a class="a-footer" href="">Register</a>
        <a class="a-footer" href="">Log in</a>
    </nav>
    <nav class="boxH2">
        <div class="divH1">
            <button class="socialM1H"><i class="fab fa-instagram"></i></button>

            <button class="socialM1H"><i class="fab fa-facebook"></i></button>
        </div>
        <div class="divH2">
            <button class="socialM2H"><i class="fas fa-at"></i></button>

            <button class="socialM2TH"><i class="fab fa-twitter"></i></button>
        </div>

 
           
       

    </nav>

    <nav class="nav-footer2">
        <a class="a-footer" href="">Log out</a>
        <a class="a-footer" href="">Services</a>
        <a class="a-footer" href="">Contact</a>
    </nav>
</article>
